
sphinx
docutils
sphinx-rtd-theme
sphinx-autobuild
sphinx-multiversion
sphinx-copybutton
sphinx-design
myst-nb
nbsphinx
pandoc
lxml-html-clean #needed for nbsphinx functionalities
sphinx-mdinclude
autodocsumm
sphinx-toolbox
qiskit==1.2.4