
sphinx
docutils
sphinx-rtd-theme
sphinx-autobuild
sphinx-multiversion
sphinx-copybutton
myst-nb
nbsphinx
pandoc
lxml-html-clean #needed for nbsphinx functionalities, which I use to display jupyter notebooks
sphinx-mdinclude
autodocsumm
sphinx-toolbox
qiskit==1.2.4