name: tests

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install system deps (libzmq + cppzmq)
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            libzmq3-dev \
            cppzmq-dev \
            pkg-config

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install qiskit=1.2.4

      - name: Run tests
        run: |
          pytest -q
